.container{
    margin-bottom: 50px;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.col-md-2 h3{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: lightgray;
    font-size: 300%;
}
.col-md-4{
    padding: 5px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.see{
    margin-top: 50px;
    color: rgb(240, 180, 15);
    cursor: pointer;
}
.catagories{
    margin-top: 200px;
    margin-bottom: 100px;
}
.perfume{
    margin-bottom: 30px;
}
.cat1, .cat2, .cat3{
    border: none;
    box-shadow: 5px 5px 10px lightblue;
}
.cat1{
    margin-left: 80px;
}
.phone{
    margin-top: 50px;
}
.laptop{
    margin-top: 50px;
}